body::before {
    background-image: url("../assets/perlin_noise.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    content: "";
    position: fixed;
    inset: 0;

    opacity: 0.2;
    z-index: -1;
}

li {
    color: white;
    padding: 15px 20px;
}

.contact-link {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
}

a.contact-link {
    text-decoration: underline;
}

#quote-self-icon {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    margin-bottom: -10px;
}

#quote {
    font-size: 30px;
}
