* {
    box-sizing: border-box;
}

.page-head-text {
    text-align: center;
}

body {
    background-color: #333333;
    padding-top: 70px;
}

body::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: fixed;
    content: "";
    inset: 0;

    opacity: 0.25;
    z-index: -1;
}

p, h1, h2, h3, h4, h5, h6 {
    color: white;
    width: 100%;
}

.mini-icon {
    width: 24px;
    height: 24px;
    margin-bottom: -3px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #359467, #222222);
    display: flex;
    align-items: center;
}

.header-text {
    margin: 0;
    margin-left: 20px;
}

#header-button {
    margin-right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 50px;
}

#dropdown {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #3a3a3a, #222222);
    align-items: center;
    display: flex;
    flex-direction: column;

    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;

    box-shadow: 0 8px 0 #1a1919;
}

#dropdown a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 15px 20px;
    color: white;
    text-decoration: none;

    border-top: 1px solid #222222;
    box-shadow: 0 8px 0 #1a1919;
}

#dropdown a:hover {
    background-color: #3d3d3d;
}

.top-image {
    width: 100%;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #303030;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

footer p {
    margin: 0;
    margin-top: 8px;
    color: white;
}
